<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador - Nosotros</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->
  </header>

  <h1>nosotros</h1>

  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, deleniti voluptates? Illum, nesciunt non. Sint quia magnam alias neque sit.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae quasi expedita deserunt!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repudiandae nemo ea laudantium asperiores temporibus praesentium unde dolorum ipsam commodi quae ratione soluta veritatis dicta fugit architecto, autem quidem quas alias fugiat voluptate explicabo? Voluptatem culpa placeat sunt tempora earum illo reiciendis quod minus, impedit ratione laboriosam exercitationem. Delectus, quo!</p>
  </div>

  <a href="/index.html">Volver a pagina principal</a>
  

  <script type="module" src="/main.js"></script>
</body>

</html>